.auto-complete {
    width: 400px;
    margin: 0 auto 30px;
    position: relative;
}
.search {
    padding: 10px 20px;
    font-size: 18px;
    box-sizing: border-box;
    line-height: 1.5em;
    width: 100%;;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.search:focus {
    outline: none;
}
.search-results {
    max-height: 400px;
    overflow-y: auto;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 0 0 5px 5px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 0;
    top: 100%;
    margin-top: -5px;
}
.search-results ul {
    margin: 0;
    padding: 0;
}
.search-results ul li {
    list-style: none;
    border-bottom: 1px dotted #eee;
    padding: 10px 20px;
}
.search-results ul li:hover {
    background-color: #eee;
}
.search-results ul li:last-child {
    border: 0;
}